
body {
  background: #222;
}
canvas, html, body {
  position: fixed;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #fff;
  z-index: -1;
}
#controls-wrap > div {
  padding: 10px 100px 100px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 210px;
  border: 1px solid #ffffff10;
}
#controls-wrap > div {
  opacity: 0;
  transition: all 0.1s ease;
}
#controls-wrap:hover > div {
  opacity: 1;
}
#controls-wrap button, input {
  color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 #222;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
button, input {
  /* border: 1px solid #ffffff30; */
  border: none;
  padding: 5px;
  margin: 5px;
  /* min-width: 60px; */
  width: 60px;
  min-height: 30px;
  margin-right: auto;
  color: #fff;
  /* font-weight: bold; */
  background: #555;
  filter: opacity(0.6);
}
button:hover, input:hover, input:focus {
  background: #777;
  filter: opacity(1);
}
button:active {
  background: #555;
}

input {
  width: 50px;
}
